
body {
  background-color: white;
}

#header-nav{
  background-color: #bfbfbf;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
  
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;

}
h1{
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.2em
  font-weight:  bold;
}

#top {
  background-color: #bfbfbf;
  border: 2px solid black;
  height: 400px;
  margin-bottom: 10px;
  padding-top: 0px;
  overflow: hidden;

} 


.container {
  position: relative;

} 





.row {
  width: 100%;

}


/********** Large devices only **********/
@media (min-width: 992px) {
  

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  
  
}